body {
  background-color:linear-gradient(135deg, #e0f7ff, #b3e5fc, #81d4fa);
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
}

h1 {
  color: navy;
  text-decoration: underline;
}

ul {
  text-align: left;
  border: 2px solid darkgray;
  border-radius: 10px;
}

li {
  color: darkred;
  font-size: 18px;
}
.btn{
        display:block;
        margin:20px auto;
        padding:10px 20px;
        background-color:DarkCyan;
        color:white;
        border:none;
        border-radius:5px;
        cursor:pointer;
        font-size:16px;
      }
.home {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(135deg, #42a5f5, #1e88e5);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.home:hover {
    background: linear-gradient(135deg, #1e88e5, #1565c0);
    transform: scale(1.05);
}
